.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xsl
*.xml
*.bak
.DS_Store
docs/data/_PRIVATE/*
docs/site_libs/*
docs/data/input/ieei/AMSOVDistanceSkim.csv
docs/data/input/university/AMSOVDistanceSkim.csv
trmg2.scenarios
