.screenshot {
  border: 1px solid #ccc;
}

table.table td a:only-child:link,
table.table td a:only-child:visited {
  text-decoration: none;
}
table.table td a:only-child:hover,
table.table td a:only-child:active {
  text-decoration: underline;
}

/* Make sure any html tables have padding*/
th, td {
  padding: 5px;
}

.display {
  font-size: 2em;
}

.N_NH_K12_All .tab-content {
  height: 32em;
}

.N_NH_OME_All .tab-content {
  height: 59em;
}

.N_NH_O_All .tab-content {
  height: 41em;
}

.W_NH_EK12_All .tab-content {
  height: 30em;
}

.W_NH_O_All .tab-content {
  height: 24em;
}

.W_NH_WR_All .tab-content {
  height: 29em;
}

h1, h2, h3, h4, h5, h6, legend {
  color: #CC0000;
}

#sidebar a {
  color: #FFFFFF;
}

#sidebar {
  background-color: #000000;
}

#sidebar h2 {
  background-color: #CC0000;
}

#postamble {
  color: #FFFFFF;
  background-color: #000000;
  border-top: solid 4px #FFFFFF;
}

#postamble .date {
  color: #FFFFFF;
}

a {
  color: #337ab7;
}

a:hover {
  color: #337ab7;
  text-decoration: none;
}

a:visited {
  color: #337ab7;
}

/*This theme has an odd way of handling links created by markdown. This fixes it*/

#main :not(.leaflet-control) > a {
    background-image: linear-gradient(180deg,#FFFFFF,#FFFFFF);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 2em;
    color: #337ab7;
    font-weight: 300;
    padding: .125em 1px 0 1px;
    transition: background-position .15s, color .15s;
}

#main :not(.leaflet-control) > a:hover {
    text-decoration: none;
    background-position: 0 0.3em;
    color: #337ab7;
}